/**
 * Logo
 *
 * @uses .Logo
 */
.Logo {
	@extend .d-flex, .align-items-center, .justify-content-center;
	@extend %position-relative;
	@include size( $grid-gutter-width * 2 );

	transition: border-color .15s map-get( $easings, ease-in-out );
	border: 1px solid currentColor;
	border-radius: $grid-gutter-width / 4;
	z-index: 2;

	@at-root .menu--is-open & {
		color: the_color( black );
	}

	@include media-breakpoint-up( md ) {
		@include size( $grid-gutter-width * 4 );
	}

	svg {
		@include size( 100%, $grid-gutter-width / 2 );

		fill: currentColor;
		transition: fill .15s map-get( $easings, ease-in-out );

		@include media-breakpoint-up( md ) {
			@include size( 100%, $grid-gutter-width );
		}
	}
}
