{#

Blog

@author Jérémy Levron <jeremylevron@19h47.fr> (http://19h47.fr)
@package VacancesPourSeniors

#}
{% extends 'pages/archive.html.twig' %}

{% block content %}
	{% include 'partials/hero.html.twig' with { title: 'Terroirs et découvertes', text: '<p>Vestibulum viverra nibh dignissim ex iaculis, sit amet bibendum enim varius</p>' } %}
	{{ parent() }}
{% endblock %}
